.container {
    margin: 0 auto;
    padding: 15px 20px;
    box-sizing: border-box;
    max-width: 595px;
    display: grid;
    gap: 20px;
    width: 100%;
    min-width: 0;
}

.content {
    display: grid;
    grid-template-columns: 268px 123px auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

h2 {
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}